/*Reset*/
body, h1, h2, h2, p ,ul{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}
/*Menu*/

.menu{
    
    background: #252525;
    padding: 20px;
}
/*Div do menu*/
.menu-container{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1160px;
   
    
}
.logo{
   
    color: white;
    display: block;
}
.menu-nav li{
    display:inline-block;
    
}
ul li a:hover{
    border-bottom:  2px solid rebeccapurple;
}
.menu-nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.125em;
}

ul{
    list-style: none;
}
/*Area introdutoria do site*/

.intro{
  background-image: url('../assets/images/imagempincipal.jpg');  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: white;
}
.intro h2{
 font-size: 3em;
 text-transform: uppercase;
}
.intro p{
    font-size: 1.125em;
}
