/*Reset*/
body, h1, h2, h2, p ,ul{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}
/*Menu*/

.menu{
    
    background: #252525;
    padding: 20px;
}
/*Div do menu*/
.menu-container{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1160px;
   
    
}
.logo{
   
    color: white;
    display: block;
}
.menu-nav li{
    display:inline-block;
    
}
ul li a:hover{
    border-bottom:  2px solid rebeccapurple;
}
.menu-nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.125em;
}

ul{
    list-style: none;
}
/*Area introdutoria do site*/

.intro{
  background-image: url('../assets/images/imagempincipal.jpg');  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: white;
}
.intro h2{
 font-size: 3em;
 text-transform: uppercase;
}
.intro p{
    font-size: 1.125em;
}
/*Parte do sobre da empresa*/

.sobre{
    padding: 60px 0;
}
.sobre-container{
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    gap: 10px;
}
.sobre h2{
    text-align: center;
    font-size: 2.25em;
}
.sobre-item{
   display: flex;
   position: relative;
   justify-content: center;
   height: 380px;
}
.sobre h3{
    font-size: 2.25em;
    line-height: 1em;
    width: 220px;
    padding: 5px 0 10px 0;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    background: #252525;
    color: white;
    position: absolute;
    margin-top: 355px;
    left: 0;
   
}
.sobre > p{
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    max-width: 460px;
}
/*Produtos*/

.produtos {
    background: #e7e4d8;
    padding: 60px 0;
    border-top:  3px solid #d6d3c8;
    border-bottom:3px solid #d6d3c8 ;
}
.produtos-container {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
}
.produtos-item {
    width: 300px;
    margin: 0 10px 20px;

}
.produtos-item h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}
.produtos-item h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;
    box-shadow:  0 0 0 5px currentColor;
}
.produtos-item p {
    font-size: 0.875em;
    line-height: 1.4em ;
}
h2.produtos-pe::before {
    color:  #492901;
}
h2.produtos-bh::before {
    color: #c17139;
}
h2.produtos-ba::before{
    color: #d7a54d;
}
.produtos-btn {
    width: 180px;
    border: 3px solid;
    color:  #252525;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 20px auto 0 auto ;
    text-align: center;
}
/*Locais*/

.locais {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    
}
.locais-item{
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.locais-texto{
  
  max-width: 420px;
  padding: 40px 20px;

}
.locais-texto h2{
    font-size: 2.25em;
    margin-bottom: 20px;
}
.locais-texto p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 360px;
    margin-bottom: 40px;
}
.locais-texto a {
    font-size: 1,125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

/*Newsletter*/

.assine{
    background: #e7e4d8;
    padding: 30px 0;
}
.assine-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1160px;
   
}
.news{
    width: 460px;
    margin: 0 10px;
}
.news h2{
    font-size: 2.25em;
}
.news p{
    font-size: 1.5em;
    font-size: italic;
}
.assine form{
    display: flex;
    width: 460px;
    margin: 10px 10px 0 10px;
}
.assine form label{
    display: none;
}
.assine input{
    width: 320px;
    box-sizing: border-box;
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, serif;
    padding: 10px;
}
.assine button{
    background: #252525;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 140px;
    padding: 13px 0;
    border: none;
    color: white;
    cursor: pointer;
}
.footer{
    background: #d6d3c8;
    padding: 40px 0;
}
.footer-container{
    max-width: 1160;
    margin: 0 auto;
}
.footer p {
    margin: 10px  100px;
    font-size: 1.125em;
    line-height: 1.4em;
}